<section
  class="page-header page-header-xs"
  style="
    background-image: url('assets/img/sections/contact.png');
    margin-top: 40px;
  "
>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 ml-auto mr-auto content-center">
        <h1 class="page-header-1">Good call</h1>
        <div class="buttons" style="z-index: 9999; top: 3em">
          <a
            href="virtual-athlete-profiles/athletes"
            class="btn btn-info btn-wd btn-magnify"
          >
            &nbsp; View Athlete Membership &nbsp; </a
          >&nbsp;&nbsp;
          <a
            href="virtual-athlete-profiles/coaches"
            class="btn btn-success btn-wd btn-magnify"
          >
            &nbsp; View Coach Membership &nbsp; </a
          >&nbsp;&nbsp;
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section div-info" style="padding: 0px; padding-bottom: 40px">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ml-auto mr-auto">
        <h2 class="text-color-white align-left">
          Getting in Touch with VirLetes
        </h2>
        <br />
        <h5 class="text-color-white align-left">
          Have a question? Let us know! Use the resources below to contact us or
          book a consultation call!
        </h5>
      </div>
    </div>
  </div>
</section>

<!-- GET IN TOUCH -->
<section
  id="contactus"
  name="contactus"
  class="section section-image"
  style="background-image: url('assets/img/sections/contact.png')"
>
  <div class="container">
    <div class="row" style="padding-top: 20px">
      <div
        class="col-md-6 col-sm-12 ml-auto mr-auto contact-form-left"
        style="padding-bottom: 20px"
      >
        <h2>Recruiting Journey Starts Here</h2>
        <h3 class="text-color-info text-left">Have questions?</h3>
        <h5 class="text-left title">
          Thanks for being a valued visitor of VirLetes&trade;. We are
          interested in hearing your perspective as a customer/client of
          VirLetes&trade;'s Innovation and Transformation services, even if you
          haven't used them recently or plan to use them in the future. You've
          made the first step to getting your transformation on track. Let's
          talk about where you want you want it to go. We appreciate your time!
        </h5>
        <div class="buttons text-left">
          <h4><strong>SCHEDULE A CONSULTATION CALL</strong></h4>
          <h5 class="text-left">
            If you have a support need or need to discuss your transformation in
            any way, use the button below to book a time for a consultation call
            & let us know your available times!
          </h5>
          <a
            href="#/consultation"
            class="btn btn-success btn-wd btn-magnify"
            style="margin-top: 2em"
          >
            &nbsp; Schedule A Free Consultation &nbsp; </a
          >&nbsp;&nbsp;
          <a
            href="#/digital-transformation/digital-transformation-roadmap"
            class="btn btn-info btn-wd btn-magnify"
            style="margin-top: 2em"
          >
            &nbsp;View Our Capabilities & Services &nbsp;
          </a>
        </div>
      </div>
      <div
        class="col-md-6 col-sm-12 ml-auto mr-auto contact-form-right"
        style="padding-bottom: 20px"
      >
        <h1 class="text-left text-uppercase">Send us your questions</h1>

        <p class="text-left">Use the form below to send your questions!</p>
        <br />
        ADD FORM CODE HERE
      </div>
    </div>
    <div
      class="row div-section-separator separator-top-card justify-content-center"
      style="padding-bottom: 50px"
    >
      <div
        class="col-md-12 col-sm-12"
        style="
          padding: 0px;
          padding-left: 30px;
          padding-right: 30px;
          padding-bottom: 15px;
        "
      >
        <div class="description text-center text-color-white">
          <h3 class="text-color-white">HOW WE HELP</h3>
          <h4 class="text-color-white">
            Reap the benefits of working with Experts.
          </h4>
          <h5 class="description text-color-white">
            There are many ways to access the expertise of VirLetes&trade;'s
            Sports Technology and Recruiting experts. Click on the service
            offering name to learn more about how we can help you today.
          </h5>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-xl-2">
        <a
          href="#/digital-transformation/digital-transformation-strategy"
          class="btn btn-link btn-warning btn-magnify"
        >
          Digital Transformation Strategy
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-xl-2">
        <a
          href="#/digital-transformation/digital-transformation-services"
          class="btn btn-link btn-warning btn-magnify"
        >
          Digital Transformation Services
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-xl-2">
        <a
          href="#/digital-transformation/cloud-transformation-services"
          class="btn btn-link btn-warning btn-magnify"
        >
          Cloud Transformation Services
        </a>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-xl-2">
        <div class="description">
          <a
            href="#/digital-transformation/business-transformation-services"
            class="btn btn-link btn-warning btn-magnify"
          >
            Business Transformation Service
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-xl-2">
        <div class="item-content">
          <div class="item-text">
            <a
              href="#/digital-transformation/digital-talent-services"
              class="btn btn-link btn-warning btn-magnify"
            >
              Digital Talent Fulfillment Services
            </a>
          </div>
        </div>
      </div>
      <div class="col-12 align-center"></div>
    </div>
  </div>
</section>
