<div class="row">                           
    <div class="col-md-6">
        <div class="card card-pricing no-transition" data-color="purple">
            <div class="card-body">
                <h4 class="section-title-md text-uppercase text-center">Starter</h4>
                <h2 class="card-title">$0.00</h2>
                <h4  class="card-title text-uppercase">per month</h4>
                <br/>
                <p class="description-section text-black text-left">
                        <i class="fa fa-check icon-success" aria-hidden="true"></i>&nbsp; Personal Profile<br>
                        <i class="fa fa-check icon-success" aria-hidden="true"></i>&nbsp; <b>1</b> Image/Video Upload<br>
                        <i class="fa fa-times icon-danger" aria-hidden="true"></i>&nbsp; Send Private Messages<br>
                        <i class="fa fa-times icon-danger" aria-hidden="true"></i>&nbsp; Analytics Tools<br>
                        <i class="fa fa-times icon-danger" aria-hidden="true"></i>&nbsp; Awesome gifts — at random! (Stickers, shirts & other surprises :)<br>
                </p> 
            </div>
            <div class="card-footer">
                <a href="identity/account/susi?usertype=athlete&plan=starter" class="btn btn-primary btn-lg text-uppercase btn-magnify">
                    <i class="nc-icon nc-basket"></i>&nbsp; Choose Plan
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card card-pricing no-transition" data-color="blue">
            <div class="card-body">
                <h4 class="section-title-md text-uppercase text-center">Eleter</h4>
                <h2 class="card-title">$14.99</h2>
                <h4  class="card-title text-uppercase">per month</h4>
                <br/>
                <p class="description-section text-black text-left">
                    <i class="fa fa-check icon-success" aria-hidden="true"></i>&nbsp; Personal Profile<br>
                    <i class="fa fa-check icon-success" aria-hidden="true"></i>&nbsp; <b>Unlimited</b> Uploads<br>
                    <i class="fa fa-check icon-success" aria-hidden="true"></i>&nbsp; Send Private Messages<br>
                    <i class="fa fa-check icon-success" aria-hidden="true"></i>&nbsp; Analytics Tools<br>
                    <i class="fa fa-check icon-success" aria-hidden="true"></i>&nbsp; Awesome gifts — at random! (Stickers, shirts & other surprises :)<br>
                </p>                                             
            </div>
            <div class="card-footer">
                <a href="identity/account/susi?usertype=athlete&plan=elite" class="btn btn-primary btn-lg text-uppercase btn-magnify">
                    <i class="nc-icon nc-basket"></i>&nbsp; Choose Plan
                </a>
            </div>
        </div>
    </div>  
</div>