<div class="row">
    <div class="col-md-6">
        <div class="card card-pricing no-transition" data-color="yellow">
            <div class="card-body">
                <h6 class="card-category text-primary text-uppercase">Starter</h6>
                <h2 class="card-title">$0.00</h2>
                <h5  class="card-title text-uppercase">per month</h5>
                <p class="description-section text-black text-left">
                    <i class="fa fa-check icon-success" aria-hidden="true"></i>&nbsp; Personal Profile<br>
                    <i class="fa fa-check icon-success" aria-hidden="true"></i>&nbsp; <b>100</b> Athlete Views<br>
                    <i class="fa fa-times icon-danger" aria-hidden="true"></i>&nbsp; Send Private Messages<br>
                    <i class="fa fa-times icon-danger" aria-hidden="true"></i>&nbsp; Analytics Tools<br>
                    <i class="fa fa-times icon-danger" aria-hidden="true"></i>&nbsp; Awesome gifts — at random! (Stickers, shirts & other surprises :)<br>
                </p> 
            </div>
            <div class="card-footer">
                <a href="identity/account/susi?usertype=collegecoach&plan=starter" class="btn btn-primary btn-lg text-uppercase btn-magnify">
                    <i class="nc-icon nc-basket"></i>&nbsp; Choose Plan
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card card-pricing no-transition" data-color="purple">
            <div class="card-body">
                <h6 class="card-category text-primary text-uppercase">Elete</h6>
                <h2 class="card-title">$29.99</h2>
                <h5  class="card-title text-uppercase">per month</h5>
                <p class="description-section text-black text-left">
                    <i class="fa fa-check icon-success" aria-hidden="true"></i>&nbsp; Personal Profile<br>
                    <i class="fa fa-check icon-success" aria-hidden="true"></i>&nbsp; <b>Unlimited</b> Athlete Views<br>
                    <i class="fa fa-check icon-success" aria-hidden="true"></i>&nbsp; Send Private Messages<br>
                    <i class="fa fa-check icon-success" aria-hidden="true"></i>&nbsp; Analytics Tools<br>
                    <i class="fa fa-check icon-success" aria-hidden="true"></i>&nbsp; Awesome gifts — at random! (Stickers, shirts & other surprises :)<br>
                </p>                                             
            </div>
            <div class="card-footer">
                <a href="identity/account/susi?usertype=collegecoach&plan=elite" class="btn btn-primary btn-lg text-uppercase btn-magnify">
                    <i class="nc-icon nc-basket"></i>&nbsp; Choose Plan
                </a>
            </div>
        </div>
    </div>    
</div>