<div class="row">
    <div class="ml-auto mr-auto">
        <h1 class="page-header-1">
          CHOOSE A PLAN THAT WORKS FOR YOU
        </h1>
</div>
</div>

<div class="row">
    <div class="col-md-12 ml-auto mr-auto text-justify">
        <p class="description-section">
            Getting the subscription selection right is just the beginning.&nbsp;&nbsp;With the appropriate levers we bring flexibility to billing.
            We offer you options including Annual Billing, Calendar Billing, Trial Management, Grandfathering Support and more.&nbsp;&nbsp;
            Free unlimited updates and premium support on each package.
            There is also 30 days grace period to request a refund if not happy with our paid services and subscriptions.
        </p>
    </div>
</div>
