<h4 class="section-title-md text-uppercase">Freemium</h4>
<p class="description-section text-left">
    Reap the most out of our freemium (starter) model.&nbsp;&nbsp;Easily manage free or paid profiles.&nbsp;&nbsp;
    Start profiles with or without payment info and convert at anytime by updating from the settings menu.
</p>
<br/>
<h4 class="section-title-md text-uppercase">Transparent Pricing</h4>
<p class="description-section">
  If looking for a platform that caters to all needs with a price that is consistent to match those needs, this is the one to choose.&nbsp;
  Sign up online or give our sales team a call to learn more.
</p>
<br/>
<h4 class="section-title-md text-uppercase">Grandfathering Support</h4>
<p class="description-section">
  We promise all our Eleters (customers) they wouldn't be bait and switch.&nbsp;&nbsp;<!--We plan and intend to keep up that promise to you as well.&nbsp;&nbsp;-->
  Once a paid subscription is started we will not change the price even if we change our pricing plan for new customers.
</p>
