<footer id="myfooter" class="footer footer-userworkspace" style="width: 100%;">
  <div class="container-fluid">
    <nav>
      <ul>
        <li><a href="/"> VirLetes </a></li>
        <li><a href="/#/pages/about"> About Us </a></li>
        <li><a href="/pages/about"> Blog </a></li>
      </ul>
    </nav>
    <div class="copyright" id="copyright">
      VirLetes&trade; &copy; {{ test | date: "yyyy" }}, Created with <i class="fa fa-heart heart"></i> by
      <a href="https://www.AllVirLetes.com" target="_blank">All VirLetes Sports</a>. Coded
      by
      <a href="https://www.ZeurTek.com" target="_blank">ZeurTek - Digital Transformation Consultants</a>.
    </div>
  </div>
</footer>
