<!--HEADER-->
<header
  id="ipaas"
  name="ipaas"
  class="page-header header-section-image div-dark separator-bottom-card"
  style="background-image: url('assets/img/sections/heading-6.png')"
>
  <div class="filter filter-black"></div>

  <div class="container">
    <div class="row">
      <div class="ml-auto mr-auto" style="padding-top: 150px;">
        <h1 class="text-uppercase text-left page-header-1 white-text" style="font-weight: 400;">
          Discover talent anywhere.
        </h1>
      </div>
    </div>

    <div class="row">
      <div class="ml-auto mr-auto" style="padding-top: 0px;">
        <div class="separator-top-header-neutral">
          <p class="description-header text-white">
            How many ELETE&trade; athLetes have you discovered
            today. See how the virLELETES&trade; Platform can help
            you reach your recruiting goals. View analysis to help recruit the
            right way. Easily stay in contact with hundreds of Athletes.
            Realize how fitness levels are improving leading up to tournaments
            or events and reward your athletes for hitting Peak Performances along the
            way. Observer, Analyze, and Improve. Don't just be a Coach, be
            ELETE&trade;!
          </p>
        </div>
        <div class="buttons text-left" style="z-index: 9999; top: 3em">
          <a
              href="virtual-athlete-profiles/consultation"
              class="btn btn-success btn-wd btn-magnify"
            >
              <i class="nc-icon nc-lock-circle-open"></i>&nbsp; Get A Free
              Consultation &nbsp; </a
            >&nbsp;&nbsp;
            <a
              href="#/digital-transformation/digital-transformation-roadmap"
              class="btn btn-info btn-wd btn-magnify"
            >
              <i class="nc-icon nc-support-17"></i>&nbsp; View Our Capabilities
              & Services &nbsp;
            </a>
        </div>
      </div>
    </div>
  </div>
</header>

<!--     *********     FEATURES 3      *********      -->
<div class="features-3 separator-top-card">
  <div class="container">
    <div class="row">
      <div class="col-md-8" style="margin-top: -35px">
        <div class="row">
          <div class="container">
            <h4 class="section-title">
              We make life easy for Coaches
            </h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="info info-horizontal">
              <div class="icon icon-success icon-md">
                <i class="nc-icon nc-layout-11"></i>
              </div>
              <div class="description">
                <h4 class="section-title-sm text-uppercase">Collection</h4>
                <p class="description-section">
                  VirLetes collaborate with partners whose wearable devices
                  allow the collection of more ecological valid data...
                </p>
              </div>
            </div>
            <div class="info info-horizontal">
              <div class="icon icon-warning icon-md">
                <i class="nc-icon nc-palette"></i>
              </div>
              <div class="description">
                <h4 class="section-title-sm text-uppercase">Quantify</h4>
                <p class="description-section">
                  VirLetes platform quantifies the impact of every step of our
                  200,000+ VirLetes...
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info info-horizontal">
              <div class="icon icon-danger icon-md">
                <i class="nc-icon nc-chart-bar-32"></i>
              </div>
              <div class="description">
                <h4 class="section-title-sm text-uppercase">Analytics</h4>
                <p class="description-section">
                  VirLetes data analyzes changes from fatigue throughout the
                  training and/or game for all Eleters...
                </p>
              </div>
            </div>
            <div class="info info-horizontal">
              <div class="icon icon-primary icon-md">
                <i class="nc-icon nc-delivery-fast"></i>
              </div>
              <div class="description">
                <h4 class="section-title-sm text-uppercase">Fast Tracking</h4>
                <p class="description-section">
                  VirLetes provides fast and reliable data which precisely track
                  and manage load of every step Eleters take...
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-md-4 ml-auto"
        style="
          background-image: url('assets/img/sections/reliable-and-comprehensive.png');
        "
      ></div>
    </div>
  </div>
</div>
<!--PRICING PLAN -->
<div id="ipaas" name="ipaas" class="section page-header-xs section-dark separator-top-card">
  <div class="filter filter-black"></div>
  <div class="container">
    <div class="row">
      <div class="ml-auto mr-auto">
        <h2 class="section-title text-white">
          CHOOSE A PLAN THAT WORKS FOR YOU
        </h2>
        <br />
      </div>
    </div>

    <div class="row">
      <div class="description col-md-12 ml-auto mr-auto text-justify">
        <p class="description-section text-white">
          Getting the subscription selection right is just the
          beginning.&nbsp;With the appropriate levers we bring flexibility to
          billing. We offer you options including Annual Billing, Calendar
          Billing, Trial Management, Grandfathering Support and more. Free
          unlimited updates and premium support on each package. There is also
          30 days grace period to request a refund if not happy with our paid
          services and subscriptions.
        </p>
      </div>
    </div>
  </div>
</div>
<div id="ipaas" name="ipaas" class="section page-header-xs separator-top-bottom-card">
  <div class="filter filter-black"></div>
  <div class="container">
    <div class="row">
      <div class="ml-auto mr-auto">
        <h4 class="section-title">
          Rocket fuel for every ELETER
        </h4>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="description col-md-12 ml-auto mr-auto">
        <p class="description-section text-center">
          Supercharge productivity with uncapped limits, powerful insights &
          more. Join the Elete starship 🚀. Choose a membership! 100%
          satisfaction guaranteed. Eject at any time!
        </p>
      </div>
    </div>
    <div class="row" style="padding-top: 45px">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4 ml-auto mr-auto" style="margin-top: -35px">
            <h4 class="section-title-sm text-uppercase">Freemium</h4>
            <p class="description-section text-justify">
              Reap the most out of our freemium (starter) model.&nbsp;Easily
              manage free or paid profiles.&nbsp; Start profiles with or without
              payment info and convert at anytime by updating from the settings
              menu.
            </p>

            <h4 class="section-title-sm text-uppercase">Transparent Pricing</h4>
            <p class="description-section text-justify">
              If looking for a platform that caters to all needs with a price
              that is consistent to match those needs, this is the one to
              choose.&nbsp; Sign up online or give our sales team a call to
              learn more.
            </p>

            <h4 class="section-title-sm text-uppercase">
              Grandfathering Support
            </h4>
            <p class="description-section text-justify">
              We made a promise to all our Eleters (customers) that they
              wouldn't be bait and switch.&nbsp;<!--We plan and intend to keep up that promise to you as well.&nbsp;&nbsp;-->
              As long as paid subscription is started we will not change the
              price even if we change our pricing plan for new customers.
            </p>
          </div>
          <div class="col-md-8 ml-auto mr-auto">
            <div class="row">
              <div class="col-md-6">
                <div
                  class="card card-pricing no-transition"
                  data-color="yellow"
                >
                  <div class="card-body">
                    <h6 class="card-category text-primary text-uppercase">
                      Starter
                    </h6>
                    <h2 class="card-title">$0.00</h2>
                    <h5 class="card-title text-uppercase">per month</h5>
                    <p class="description-section text-start">
                      <i class="fa fa-check icon-success" aria-hidden="true"></i
                      >&nbsp; Personal Profile<br />
                      <i class="fa fa-check icon-success" aria-hidden="true"></i
                      >&nbsp; <b>1</b> Image/Video Upload<br />
                      <i class="fa fa-times icon-danger" aria-hidden="true"></i
                      >&nbsp; Send Private Messages<br />
                      <i class="fa fa-times icon-danger" aria-hidden="true"></i
                      >&nbsp; Analytics Tools<br />
                      <i class="fa fa-times icon-danger" aria-hidden="true"></i
                      >&nbsp; Awesome gifts — at random! (Stickers, shirts &
                      other surprises :)<br />
                    </p>
                  </div>
                  <div class="card-footer">
                    <a
                      href="identity/account/susi?usertype=athlete&plan=starter"
                      class="btn btn-primary btn-lg text-uppercase btn-magnify"
                    >
                      <i class="nc-icon nc-basket"></i>&nbsp; Choose Plan
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card card-pricing no-transition" data-color="blue">
                  <div class="card-body">
                    <h6 class="card-category text-primary text-uppercase">
                      Elete
                    </h6>
                    <h2 class="card-title">$14.99</h2>
                    <h5 class="card-title text-uppercase">per month</h5>
                    <p class="description-section text-start">
                      <i class="fa fa-check icon-success" aria-hidden="true"></i
                      >&nbsp; Personal Profile<br />
                      <i class="fa fa-check icon-success" aria-hidden="true"></i
                      >&nbsp; <b>Unlimited</b> Uploads<br />
                      <i class="fa fa-check icon-success" aria-hidden="true"></i
                      >&nbsp; Send Private Messages<br />
                      <i class="fa fa-check icon-success" aria-hidden="true"></i
                      >&nbsp; Analytics Tools<br />
                      <i class="fa fa-check icon-success" aria-hidden="true"></i
                      >&nbsp; Awesome gifts — at random! (Stickers, shirts &
                      other surprises :)<br />
                    </p>
                  </div>
                  <div class="card-footer">
                    <a
                      href="identity/account/susi?usertype=athlete&plan=elite"
                      class="btn btn-primary btn-lg text-uppercase btn-magnify"
                    >
                      <i class="nc-icon nc-basket"></i>&nbsp; Choose Plan
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
