
<!--HEADER-->
<header
  id="ipaas"
  name="ipaas"
  class="page-header header-section-image div-dark separator-bottom-card"
  style="background-image: url('assets/img/sections/heading-3.png')"
>
  <div class="filter filter-black"></div>

  <div class="container">
    <div class="row">
      <div class="ml-auto mr-auto" style="padding-top: 150px;">
        <h1 class="text-uppercase text-left page-header-1 white-text" style="font-weight: 400;">
          Sports Technology Services
        </h1>
      </div>
    </div>

    <div class="row">
      <div class="ml-auto mr-auto" style="padding-top: 0px;">
        <div class="separator-top-header-neutral">
          <p class="description-header text-white">
            VirLetes is a Sports Technology Innovation and Digital
            Transformation Agency built to Lead Digital Change while driving
            athletes, coaches and teams forward and delivering real results.
            We emmpower you to compete successfully by faciliting your
            strategic and performance capabilities.
          </p>
        </div>
        <div class="buttons text-left" style="z-index: 9999; top: 3em">
          <a
            href="virtual-athlete-profiles/consultation"
            class="btn btn-success btn-wd btn-magnify"
          >
            &nbsp; Get A Free Consultation &nbsp; </a
          >&nbsp;&nbsp;
          <a
            href="virtual-athlete-profiles/sports-technology-services"
            class="btn btn-info btn-wd btn-magnify"
          >
            &nbsp;View Our Capabilities & Services &nbsp;
          </a>
        </div>
      </div>
    </div>
  </div>
</header>



<!--GREAT TECHNOLOGY-->
<div class="section separator-top-card">
  <div class="container">
    <div class="row">
      <div class="ml-auto mr-auto">
        <h2 class="section-title ">
          We provide great technology
        </h2>
        <br />
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 ml-auto mr-auto text-center">
        <p class="description-section text-start">
          Todays athletes, coaches and teams require the ability to harness the
          latest capabilities that are available with today's technology. Here
          at VirLetes&trade; we take pride and precedence on focusing on your
          needs as much as we do. VirLetes&trade; offers the opportunity for
          Athletes to use wearable technology provided by our partners and have
          that data sync with their profiles and available to coaches and scouts
          for recruiting purposes. VirLetes&trade; has a responsive and expert
          service staff capable of exceeding your technological expectations by
          delivering the right insights for today's athletes, coaches and teams.
        </p>
      </div>
    </div>

    <div class="row text-center" style="padding-top: 30px">
      <div class="col-md-3">
        <div class="info">
          <div class="icon icon-warning icon-xs">
            <i class="nc-icon nc-trophy" aria-hidden="true"></i>
          </div>

          <div class="text-center">
            <h4 class="section-title-sm text-uppercase text-center">
              Preparation
            </h4>
            <p class="description-section">
              Be prepared for your big day. Take the right steps to train
              smarter and achieve your goals.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="info text-center">
          <div class="icon icon-info icon-xs">
            <i class="nc-icon nc-bulb-63"></i>
          </div>
          <div class="text-center">
            <h4 class="section-title-sm text-uppercase text-center">
              POTENTIAL
            </h4>
            <p class="description-section">
              We provide tools to help guardians do what they do best and not
              focus on the process.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="info text-center">
          <div class="icon icon-danger icon-xs">
            <i class="nc-icon nc-chart-bar-32"></i>
          </div>
          <div class="text-center">
            <h4 class="section-title-sm text-uppercase text-center">
              ANALYTICS
            </h4>
            <p class="description-section">
              Detailed insights help coaches make informed decisions, and
              athlete identification.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="info text-center">
          <div class="icon icon-success icon-xs">
            <i class="nc-icon nc-sun-fog-29"></i>
          </div>
          <div class="text-center">
            <h4 class="section-title-sm text-uppercase text-center">ML & AI</h4>
            <p class="description-section">
              Improve efficiency and provide more time to translate data into
              performance insights.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row coloured-cards text-center" style="padding-top: 30px">
      <div class="col-md-4 col-sm-6">
        <div class="card-no-shadow">
          <div
            class="card card-just-text no-transition"
            data-background="color"
            data-color="purple"
            data-radius="none"
          >
            <div class="card-body" style="padding: 50px 50px 20px 50px">
              <h6 class="card-category">Athletes</h6>
              <h4 class="card-title">
                <a href="javascript:void(0)">Find the right <br />program</a>
              </h4>
              <p
                class="description text-white"
                style="padding: 20px 0px 0px 0px"
              >
                Researching schools lays the foundation for your recruiting
                process and building your target list. Learn how to filter
                schools by location, division, test scores, etc. This will build
                your target list and find schools that fit your athletic and
                academic goals.
              </p>
            </div>
            <div class="card-footer text-center">
              <a
                href="identity/account/susi?usertype=athlete&plan=starter"
                class="btn btn-primary"
              >
                Sign Up</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="card-no-shadow">
          <div
            class="card card-just-text no-transition"
            data-background="color"
            data-color="green"
            data-radius="none"
          >
            <div class="card-body" style="padding: 50px 50px 20px 50px">
              <h6 class="card-category">Coaches</h6>
              <h4 class="card-title">
                <a href="javascript:void(0)">Find the right <br />athlete</a>
              </h4>
              <p
                class="description text-white"
                style="padding: 20px 0px 0px 0px"
              >
                Coaches have a tremendous list of duties to juggle on a
                day-to-day basis. Coaching itself is just a small slice of the
                pie. During the recruiting process in particular, we help you
                find, evaluate, and choose the right student-athletes for your
                programme.
              </p>
            </div>
            <div class="card-footer text-center">
              <a
                href="identity/account/susi?usertype=collegecoach&plan=starter"
                class="btn btn-primary"
              >
                Sign Up</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="card-no-shadow">
          <div
            class="card card-just-text no-transition"
            data-background="color"
            data-color="blue"
            data-radius="none"
          >
            <div class="card-body" style="padding: 50px 50px 20px 50px">
              <h6 class="card-category">Teams</h6>
              <h4 class="card-title">
                <a href="javascript:void(0)">Keep track of <br />athletes</a>
              </h4>
              <p
                class="description text-white"
                style="padding: 20px 0px 0px 0px"
              >
                Keeping up with the recruiting process for one athlete could be
                very challenging yet alone 10+ athletes. Depending on your
                needs, we can be an extension of your recruiting team or
                we can handle your entire recruiting needs. Whatever works for
                you.
              </p>
            </div>
            <div class="card-footer text-center">
              <a
                href="identity/account/susi?usertype=collegecoach&plan=starter"
                class="btn btn-primary"
              >
                Sign Up</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--SIGN UP ALL SECTION section-separator
<div class="section-image div-dark" style="background-image: url('assets/img/sections/section-separator.png')">
-->
<div id="ipaas" name="ipaas" class="section page-header-xs div-color-neutral separator-top-card">
  <div class="filter filter-black"></div>
  <div class="container-fluid" style="margin-top: -30px">
    <div class="row">
      <div class="col description ml-auto mr-auto text-left">
        <div class="info text-center">
          <div class="icon icon-warning icon-md">
            <img src="assets/img/icons/icon-preparation.png" height="50" />
          </div>
          <h4 class="section-title-md text-white text-center">
            Plan & Prepare
          </h4>

          <p class="description-section text-white text-justify">
            Become the champion you are destine to be. You put the work in.
            Everyday you strive to be better, we will do the rest. No need to
            focus on the other stuff. Nobody offers you more for less.
          </p>
        </div>
      </div>
      <div class="col description ml-auto mr-auto text-left">
        <div class="info text-center">
          <div class="icon icon-warning icon-md">
            <img src="assets/img/icons/icon-mobility.png" height="50" />
          </div>
          <h4 class="section-title-md text-white text-center">In-Depth Analysis</h4>
          <p class="description-section text-white text-justify">
            Professional workflow at affordable prices. More powerful tools at
            your disposal for more depth to your analysis. Collect, organize and
            access your information with precision.
          </p>
        </div>
      </div>

      <div class="col description ml-auto mr-auto text-left">
        <div class="info text-center">
          <div class="icon icon-warning icon-md">
            <img
              src="assets/img/icons/icon-improve-tooling-and-automation.png"
              height="50"
            />
          </div>
          <h4 class="section-title-md text-white text-center">margin of error</h4>
          <p class="description-section text-white text-justify">
            One of the major advantages of going beyond basic. Compile and
            review data over a series of sessions or matches to reduce the
            margin of error. Do so in a manner which is simple, effective and
            efficient.
          </p>
        </div>
      </div>

      <div class="col description ml-auto mr-auto text-center">
        <div class="info text-center">
          <div class="icon iicon-success icon-md">
            <img src="assets/img/icons/icon-self-manage.png" height="50" />
          </div>
          <h4 class="section-title-md text-white text-center">Global Support</h4>
          <p class="description description-section text-white text-justify">
            You are our reason for VirLetes. If you did not put your trust in
            us, our VirLetes would not exist. Realising this, our team is
            completely committed to helping you in anyway we can and our support
            services are second to none.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--ABOUT US-->
<div class="features-1 white-background separator-top-bottom-card">
  <div class="filter filter-black"></div>
  <div class="container">
    <div class="row">
      <div
        class="description col-md-6 ml-auto mr-auto text-left"
        style="margin-top: -35px; padding-right: 20px"
      >
        <h2 class="section-title">Reliable & Comprehensive</h2>
    </div>
    <div class="row">
      <div
        class="description col-md-6 ml-auto mr-auto text-left"
        style="margin-top: 0px; padding-right: 20px"
      >
        <p class="description-section">
          Join the
          <span class="font-weight-bold text-darker">205,000+</span> Satisfied
          Customers Today at VirLetes&trade;.com. Created by Athletes and
          Coaches, VirLetes&trade; provides a comprehensive set of data for each
          athlete to help coaches and scouts make easy decisions.
          VirLetes&trade; gives Athletes a huge leg up to create their profile
          and be recruited by coaches and scouts globally (College or
          Professionally). Powerful options & tools, unlimited support,
          responsive framework and amazing support are some of the reasons why
          our customers fall in love. The VirLetes&trade; platform is all
          virtual with nothing to download, and can be accessible anywhere on
          any device.
        </p>
        <br />
        <p class="description-section">
          VirLetes&trade; is a web-based Sports Performance and Athlete Profile
          Platform which provides comprehensive data for any athlete, team
          coach, college coach, or scout. If you are an athlete and want to
          become ELETE&trade;, VirLetes&trade; is for you. If you are a coach or
          scout and you want to recruit the best of the best, VirLetes&trade; is
          for you.
        </p>
      </div>
      <div class="col-md-6 ml-auto mr-auto text-right" >
        <img src="assets/img/sections/reliable-and-comprehensive.png" />
      </div>
    </div>
  </div>
</div>

<!-- SECTION SEPARATOR
<div id="ipaas" name="ipaas" class="section page-header-xs div-dark">
    <div class="filter filter-black"></div>
    <div class="container">
        <div class="row">
            <div class="ml-auto mr-auto text-white">
                Researching schools lays the foundation for your recruiting process and building your target list.
                                Learn how to filter schools by location, division, test scores, etc.
                                This will build your target list and find schools that fit your athletic and academic goals.
            </div>
        </div>
    </div>
</div>
-->

<!--
<div id="ipaas" name="ipaas" class="section page-header-xs section-dark">
    <div class="filter filter-black"></div>
    <div class="container-fluid">
        <div class="row text-light">
            <div class="col-sm-3 ml-auto" style="background-image: url('assets/img/ipaas/background/Generic-Sports-3.jpg')">
                <div class="info text-center">
                    <div class="icon">
                        <i class="custom-ui-icons nc-trophy icon-success" aria-hidden="true"></i>
                    </div>
                    <h4 class="section-title-md">Athletes</h4>
                    <p class="description text-white">
                        Know when to keep pushing and when to back off. We will Analyze tour training programmes and monitor work load to avoid preventable injuries.
                    </p>
                    <br />
                    <p>
                        <a href="#/athlete/" class="btn btn-danger btn-round btn-lg">
                            <i class="custom-ui-icons nc-trophy"></i>&nbsp; GET STARTED
                        </a>
                    </p>
                </div>
            </div>

            <div class="col-sm-3 ml-auto" style="background-image: url('assets/img/ipaas/background/iAthlete-parent-2.jpg')">
                <div class="info text-center">
                    <div class="icon">
                        <i class="custom-ui-icons nc-badge icon-success" aria-hidden="true"></i>
                    </div>
                    <h4 class="section-title-md">Guardians</h4>
                    <p class="description text-white">
                        In sports, parents and guardian impact their children in many ways.

                        They play an influential role in their development and accomplishments.
                    </p>
                    <br />
                    <p>
                        <a href="#/athlete/" class="btn btn-danger btn-round btn-lg">
                            <i class="custom-ui-icons nc-badge"></i>&nbsp; GET STARTED
                        </a>
                    </p>
                </div>
            </div>

            <div class="col-sm-3 ml-auto" style="background-image: url('assets/img/ipaas/background/Generic-Sports-4.jpg')">
                <div class="info text-center">
                    <div class="icon">
                        <i class="custom-ui-icons nc-chart-bar-32 icon-success" aria-hidden="true"></i>
                    </div>
                    <h4 class="section-title-md">College Coaches</h4>
                    <p class="description text-white">
                        Favorite Athlete profiles and have them automatically linked to your profile, monitor workouts, add profiles to your recruiting calendar.
                    </p>
                    <br />
                    <p>
                        <a href="#/collegecoach/" class="btn btn-danger btn-round btn-lg">
                            <i class="custom-ui-icons nc-chart-bar-32"></i>&nbsp; GET STARTED
                        </a>
                    </p>
                </div>
            </div>

            <div class="col-sm-3 ml-auto" style="background-image: url('assets/img/ipaas/background/Generic-Sports-3.jpg')">
                <div class="info text-center">
                    <div class="icon">
                        <i class="custom-ui-icons nc-sun-fog-29 icon-success" aria-hidden="true"></i>
                    </div>
                    <h4 class="section-title-md">Team Coaches</h4>
                    <p class="description text-white">
                        Easily see all of your athletes and their data in one place: making planning, tracking and communicating easier than ever.
                        Contact colleges.
                    </p>
                    <br />
                    <p>
                        <a href="#/teamcoach/" class="btn btn-danger btn-round btn-lg">
                            <i class="custom-ui-icons nc-sun-fog-29"></i>&nbsp; GET STARTED
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
-->
<!--Correspondence-->
<!--
<app-correspondence-cmp [showSubscribeForm]="showSubscribeForm" [showContactForm]="showContactForm"></app-correspondence-cmp>
-->
