<!--HEADER-->
<header
  class="page-header page-header-image page-header-xs"
  style="background-image: url('assets/img/sections/heading-privacy.png')"
>
  <div class="filter filter-black"></div>
  <div class="content-center">
    <div class="container">
      <div class="row">
        <div
          class="col-md-12 ml-auto mr-auto content-left transparent-bg-header"
        >
          <h1 class="page-header-1 text-white">
            Privacy | Policy | Terms
          </h1>
          <div class="separator-top-header-neutral">
            <p class="description-header text-white">
              Our Privacy Policy applies to your use of the VirLetes&trade;
              website and platform. This Privacy Policy applies to all visitors
              to the VirLetes&trade; website and members and users of the
              VirLetes&trade; platform. We do not sell or rent any of the
              information we collect and the personal information we collect
              through our platform is used solely to deliver our services.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="ml-auto mr-auto">
        <h2 class="section-title">
          VirLetes APP PRIVACY, POLICY & AND TERMS OF USE
        </h2>
      </div>
    </div>

    <div class="row">
      <div class="mx-auto w-full max-w-content pb-50">
        <div class="text">
          <h4 class="text-dark">
            <strong class="o-headline">Introduction – Who Are We?</strong>
          </h4>
          <p>
            <strong>All VirLetes Sports, LLC</strong> together with its related
            bodies corporate (“we,” “us,” or “our”) respects your privacy and is
            committed to complying with the privacy principles contained in the
            applicable privacy laws and regulations for the places where we do
            business.
          </p>
          <p>
            This policy sets out the manner in which we collect, hold, process,
            use and disclose your personal and sensitive information.
          </p>
          <h4 class="text-dark">
            <strong class="title"
              >What does “personal information” and “sensitive information”
              mean?</strong
            >
          </h4>
          <p>
            Personal information is any information about you that identifies
            you or by which your identity may be reasonably determined.
            Information about your health is categorised, as sensitive
            information.<strong> </strong>
          </p>
          <h4 class="text-dark">
            <strong class="o-headline"
              >What type of information do we collect or process and what is our
              basis for collecting or processing that information?</strong
            >
          </h4>
          <p>
            The type of information we collect or process from or about you will
            depend on how you or your organization interacts with us. Generally,
            we collect or process the following types of information, along with
            the corresponding basis for collection:
          </p>
          <p style="padding-left: 30px">
            a) for our <strong>VirLetes</strong> workers, internal contractors,
            and potential candidates to work for us we collect personal details
            including name, contact details and information provided to us and
            collected by us that is relevant and necessary for our engagement
            with those people and in order to fulfil our obligations.
          </p>
          <p style="padding-left: 30px">
            b) for athletes who use our
            <strong><u>partners' wearable technologies</u></strong
            >, we collect your account details, payment instructions where
            relevant, and sports performance data during times when the device
            is activated including field location, speed and distance covered.
            Our ability to collect, process, and use this information for the
            reasons stated in this document is a key part of the functionality
            of the <strong>wearable technologies</strong> product, without it
            the <strong>wearable technologies</strong> product cannot be
            considered fully functional. In addition, we will be obtaining your
            specific consent to use the information in this manner.
          </p>
          <p style="padding-left: 30px">
            c) for athletes whose information is processed in our
            <strong
              ><u><strong>VirLetes</strong></u></strong
            >
            and <strong><u>GPSports</u></strong> product, we only collect
            information from individual athletes as our customers allow it, and
            those customers determine what information we process from their
            athletes. Generally, this information about you is related to your
            training and gameday performance data including field location,
            speed, acceleration, distance covered, heart rate and player load.
            The information is controlled by our customers/clubs, collected by
            them through the use of our products, and is processed and used by
            us as you see below. We use and process the information in this
            fashion as it is necessary to perform our part of our contracts with
            our customers/clubs. In addition, where our customers/clubs have
            obtained athlete consent for our use and processing of the
            information in this fashion, that consent also becomes part of our
            basis for our use and processing of this information.
          </p>
          <p style="padding-left: 30px">
            d) For our
            <strong
              ><u
                ><strong>VirLetes</strong> Management System (“AMS”)</u
              ></strong
            >, we only collect information as you and our customers allow it or
            as you allow through your consent, and those customers determine
            what information we process from their athletes. Generally, this
            information about you is related to your sports performance, health
            data, wellness data and club related activity information. The
            information is controlled by our customers/clubs, collected by them
            through the use of our products, and is processed and used by us as
            you see below. We use and process the information in this fashion as
            it is necessary to perform our part of our contracts with our
            customers/clubs. In addition, we will be obtaining your specific
            consent to use the information in this manner.
          </p>
          <p style="padding-left: 30px">
            e) For our
            <strong
              ><u
                >customers and their internal (non-athlete) representatives and
                personnel</u
              ></strong
            >, we only collect the following information: name and contact
            details and information related to our professional work with you.
            Our legal basis for collection, use, and processing of this
            information is that we collect, use, and process the information
            types listed above to perform our legitimate business of maintaining
            necessary employee, contractor, and applicant information for the
            operations of our company.
          </p>
          <p style="padding-left: 30px">
            f) For our suppliers, consultants and contractors we only collect
            the following information: name and contact details, account and
            payments arrangements and information related to and reasonably
            required for our professional work with you. Our legal basis for
            collection, use, and processing of this information is that we
            collect, use, and process the information listed above to perform
            our legitimate business of maintaining necessary employee,
            contractor, and applicant information for the operations of our
            company.<strong> </strong>
          </p>
          <h4 class="text-dark">
            <strong>How do we collect your personal information?</strong>
          </h4>
          <p>
            When <em>you directly</em> use our products or services, you, or
            someone on your behalf can enter information about yourself into
            <strong>VirLetes</strong> software (<strong
              >wearable technologies, AMS)</strong
            >.
          </p>
          <p>
            When our <em>customers</em> use our
            <strong>VirLetes</strong> products, certain information about you is
            processed in our software.
          </p>
          <p>
            We will always try to collect your personal information directly
            from you where possible.
          </p>
          <p>
            Regardless of how your personal information is collected – whether
            it is directly from you, from your interactions with us or from
            third parties – we will deal with your personal information in
            accordance with this policy.
          </p>
          <h4 class="text-dark">
            <strong class="o-headline">How do we use your information?</strong>
          </h4>
          <p><strong>Generally, we use your information for:</strong></p>
          <p>
            <strong
              >Providing and Maintaining the Services That Relate to this
              Product (Services): </strong
            >Using the information we collect, we are able to deliver the
            Services to you and honour our contract with you (in the case of
            wearable technologies) and our contracts with our customers (in the
            case of <strong>VirLetes</strong>).
          </p>
          <p>
            Examples: For <strong>wearable technologies</strong>, we need to use
            your information to enable you to track your training and gameday
            activity and to give you customer support and for performance
            reporting within the wearable technologies community.
          </p>
          <p>
            For <strong>GPSports</strong> and <strong>VirLetes</strong>, we use
            the information for fulfilling our contractual terms as product and
            service providers to your club or team, for product development and
            enhancement and we may use player data for commercial applications
            and enhancement of other <strong>VirLetes</strong> product data
            feeds where that use is consistent with our contractual terms.
            <strong> </strong>
          </p>
          <p>
            For <strong>AMS</strong> we use the information for fulfilling our
            contractual terms as product and service providers to your club or
            team and for product development and enhancement.
          </p>
          <h4 class="text-dark">
            <strong class="o-headline">Improve and Develop the Services</strong
            ><strong> </strong>
          </h4>
          <p>
            We use the information we collect to improve the Services and to
            develop new ones. For example, we use the information to
            troubleshoot and protect against errors; perform data analysis and
            testing; conduct research and surveys; and develop new features and
            Services.
          </p>
          <h4 class="text-dark">
            <strong class="o-headline">Communicate with You</strong>
          </h4>
          <p>
            We use your information when needed to send you notifications and
            respond to you when you contact us. With respect to
            <strong>wearable technologies</strong>, we also use your information
            to promote new features or products that we think you would be
            interested in. You can control marketing communications and most
            Service notifications by using your notification preferences in
            account settings or via the “Unsubscribe” link in an email. We use
            your information to provide customer service or assistance to you or
            (in the case of <strong>VirLetes</strong>) with our customers about
            their instances of our products and Services.
          </p>
          <h4 class="text-dark">
            <strong class="o-headline">Promote Safety and Security</strong>
          </h4>
          <p>
            We use the information we collect to promote the safety and security
            of the Services, our users, and other parties. For example, we may
            use the information to authenticate users, protect against fraud and
            abuse, respond to a legal request or claim, conduct audits, and
            enforce our terms and policies.
          </p>
          <h4 class="text-dark" class="text-dark">
            <strong class="o-headline">Internal Business Purposes</strong>
          </h4>
          <p>
            We use the information that we collect from our
            <strong
              >workers, internal contractors, potential candidates,
              <em
                >customers and their internal (non-athlete) representatives and
                personnel, </em
              >suppliers, consultants, and contractors</strong
            >
            for our internal business purposes, including (as applicable) to
            better operate our business and to communicate with customers and
            prospects.
          </p>
          <h4 class="text-dark">
            <strong class="o-headline"
              >Will we disclose your personal information to others?</strong
            >
          </h4>
          <p>
            In the case of <strong>wearable technologies</strong>, performance
            data of players in the
            <strong>wearable technologies</strong> community is shared through
            features in the app which enable comparisons and rankings of player
            performance.
          </p>
          <p>
            For <strong>GPSports</strong> and <strong>VirLetes</strong>, we may
            disclose the information for fulfilling our contractual terms as
            product and service providers to your club or team, for product
            development and enhancement and we may share player data for
            commercial applications and enhancement of other
            <strong>VirLetes</strong> product data feeds where that use is
            consistent with our contractual terms.
          </p>
          <p>
            In the case of athlete information in <strong>AMS</strong> we limit
            disclosures of your information to others within our company with a
            need to know in order to carry out the utility of our products and
            Services.
          </p>
          <p>
            In the instances of other individuals (such as employees, customer
            employees, suppliers, etc.) we do not send your information outside
            of our company for any reason which is not necessary to further run
            the operations of the company. We limit these disclosures to those
            we believe absolutely necessary and limit the scope of such
            disclosures where feasible.
          </p>
          <p>
            Sometimes we’ll need to disclose your personal information to other
            people or entities that we collaborate with to provide our products
            or services (third parties) for the purposes set out in this policy.
          </p>
          <p>
            We will do our best to ensure that we do not disclose your personal
            information to a third party if you have not approved it. Your
            consent to the disclosure of your personal information may be given
            expressly, or it may be implied from your interaction with us.
          </p>
          <p>
            In addition to the reasons above, we will need to disclose your
            personal information where the law requires us to.
          </p>
          <h4 class="text-dark">
            <strong class="o-headline"
              >Will we disclose your personal information to people or entities
              outside of your region?</strong
            >
          </h4>
          <p>
            If your data is processed within our
            <strong>VirLetes<em>, </em>AMS </strong><em>and</em>
            <strong>GPSports</strong> products, we will not
            <em>transfer</em> your personal information to any person or
            organisation outside your region, without your permission. Your
            information will only be accessible to persons outside your Region
            as follows:
          </p>
          <p style="padding-left: 30px">
            For our <strong>wearable technologies, VirLetes</strong> products
            and Services, we may disclose personal information outside your
            region for the purposes of customer service and product support and
            consistent with agreement terms in place, for example
            <strong>wearable technologies</strong> data may be disclosed in
            different regions as part of the performance reporting within the
            <strong>wearable technologies</strong> community.
          </p>
          <p style="padding-left: 30px">
            For our <strong>VirLetes</strong>
            <strong
              >workers, internal contractors, and potential candidates</strong
            >, we will generally disclose personal information outside your
            region for the purposes of personnel evaluation and general business
            operations.
          </p>
          <p style="padding-left: 30px">
            For our
            <strong
              ><em
                >customers and their internal (non-athlete) representatives and
                personnel</em
              ></strong
            >, we only allow access of your information outside of your region
            for reasonable and permitted purposes related to our work with you.
          </p>
          <p style="padding-left: 30px">
            For our
            <strong><em>suppliers, consultants and contractors</em></strong> we
            only allow access of your information or transferal of your
            information outside of your region for reasonable and permitted
            purposes related to our work with you.
          </p>
          <p>
            If we do allow access to or transferal of your information to
            persons outside your region we will take steps designed to ensure
            that such persons handle your personal information with the same
            level of protection as set out in this privacy policy and in a
            manner compliant with applicable laws and regulation.
          </p>
          <h4 class="text-dark">
            <strong class="o-headline"
              >How do we keep your personal information secure?</strong
            >
          </h4>
          <p>
            We will take all reasonable precautions designed to safeguard
            personal information that is processed or used by us from loss,
            misuse, unauthorised access, modification or disclosure.
          </p>
          <p>
            <strong
              >To ensure that your personal information is secure, we employ
              several means, including:</strong
            >
          </p>
          <p>
            We contract reputable data storage service providers in locations
            that meet with relevant regulatory requirements. Within our
            organisation we apply our Information Security Policy which includes
            a range of measures including:
          </p>
          <p>(1) External and internal premises security;</p>
          <p>
            (2) The requirement for all employees to enter into a
            confidentiality agreement;
          </p>
          <p>(3) Computer firewall protection;</p>
          <p>(4) Restricted access to personal files and information;</p>
          <p>(5) Computer maintenance to prevent unauthorised access;</p>
          <p>
            (6)Document handling and shredding procedures with respect to
            personal information;
          </p>
          <p>(7) Limiting access to your personal information.</p>
          <p><strong>What are your rights?</strong></p>
          <p>
            <u>Accessing and Exporting Information</u>. In the case of
            <strong>wearable technologies</strong>, By logging into your
            account, you (or your team manager) can access your personal
            information.
          </p>
          <p>
            For all other individuals: you may access the personal information
            used, collected or processed by us by contacting
            <a href="mailto:privacy@VirLetes.com">privacy@VirLetes.com</a>
          </p>
          <p>
            <u>Editing and Deleting Information.</u> In the case of
            <strong>wearable technologies</strong>, your settings let you change
            and delete your personal information.
          </p>
          <p>
            For all other individuals: you may request the editing or deletion
            of your information by contact us by email at
            <a href="mailto:privacy@VirLetes.comp">privacy@VirLetes.com</a>
          </p>
          <p>
            We may also preserve information for legal reasons or to prevent
            harm.
          </p>
          <p>
            <u
              >If you consider use of your information by us is inappropriate
              y</u
            >ou may object to that Information use by emailing us at
            <a href="mailto:privacy@VirLetes.com">privacy@VirLetes.com</a>
          </p>
          <p>Further Rights:</p>
          <ol>
            <li>
              If you live in a Designated Country (European Economic Area,
              United Kingdom, and Switzerland), in certain circumstances, you
              can object to our processing of your information based on our
              legitimate interests, including as described in this policy
            </li>
            <li>
              You have a general right to object to the use of your information
              for direct marketing purposes.
            </li>
            <li>
              Restricting or Limiting Information Use. In addition to the
              various controls that we offer, if you reside in a Designated
              Country, you can seek to restrict our processing of your
              information in certain circumstances. Please note that you can
              always delete your account at any time.
            </li>
          </ol>
          <p>
            To exercise your rights under 1-3 above, please contact us by email
            at <a href="mailto:privacy@VirLetes.com">privacy@VirLetes.com</a>
          </p>
          <p>
            If you need further assistance regarding your rights, please contact
            our Data Protection Officer at
            <a href="mailto:privacy@VirLetes.com">privacy@VirLetes.com</a>, and
            we will consider your request in accordance with applicable laws.
          </p>
          <h4 class="text-dark">
            <strong class="o-headline">Direct marketing</strong>
          </h4>
          <p>
            We may use your personal information, such as your address or
            contact details, to provide you with information about services that
            we offer.
          </p>
          <p>
            If at any time you do not wish to receive any information about
            these services please feel starter to contact us and we will not
            send you any further material.
          </p>
          <p>
            We will not transfer or allow access to your personal information to
            any other entity or person for the purposes of allowing them to
            market their products or services to you.
          </p>
          <h4 class="text-dark">
            <strong class="o-headline">Our Policies for Children</strong>
          </h4>
          <p>
            We appreciate the importance of taking additional measures to
            protect children’s privacy.
          </p>
          <p>
            Persons under the age of 16, or any higher applicable minimum age in
            the jurisdiction where that person resides, are not permitted to
            create accounts unless their parent or guardian has consented in
            accordance with applicable law. If we learn that we have collected
            the personal information of a child under the relevant minimum age
            without parental or guardian consent, we will take steps to secure
            parent or guardian consent or delete the information as soon as
            possible. Parents who believe that their child has submitted
            personal information to us and would like to have it deleted may
            contact us at
            <a href="mailto:privacy@VirLetes.com">privacy@VirLetes.com</a>.
          </p>
          <h4 class="text-dark">
            <strong class="o-headline"
              >For How Long Do We Store Your Information?</strong
            >
          </h4>
          <p>
            We store information for the duration and in accordance with any
            applicable contractual term and retain or delete that data as we are
            required to do under applicable privacy rules.
          </p>
          <p>
            We may retain de-identified data for research and product and
            service development.
          </p>
          <h4 class="text-dark">
            <strong class="o-headline">Changes to this privacy policy</strong>
          </h4>
          <p>
            We monitor regulations, policies and procedures to ensure that we
            are up to date with changes in the law and market practices. As a
            result, we will change this privacy policy from time to time.
          </p>
          <h4 class="text-dark">
            <strong class="o-headline"
              >How do you access the personal information we store?</strong
            >
          </h4>
          <p>
            Should you wish to access your personal information, contact us by
            emailing us at
            <a href="mailto:privacy@VirLetes.com">privacy@VirLetes.com</a>.
          </p>
          <p>
            We will respond to all requests as quickly as is reasonably possible
            (and within any timelines imposed by applicable laws and
            regulations).
          </p>
          <h4 class="text-dark">
            <strong class="o-headline"
              >Complaints about breaches of privacy</strong
            >
          </h4>
          <p>
            If you believe that we have wrongfully disclosed your personal
            information or have breached this privacy policy, then you may lodge
            a complaint with us by writing to:
          </p>
          <p>
            Data Protection Officer<br />
            <strong>VirLetes</strong> Sprots Group International Ltd<br />
            Deacons Farm<br />
            Saint Michael<br />
            Barbados
          </p>
          <p>Or by email:</p>
          <p><a href="mailto:privacy@VirLetes.com">privacy@VirLetes.com</a></p>
          <p>
            If you are not satisfied with the response you receive from us, you
            can contact the Federal Privacy Commissioner by telephone or writing
            to:
          </p>
          <p>
            Director of Complaints<br />
            Office of the Federal Privacy Commissioner<br />
            Bridgetown<br />
            Barbados
          </p>
          <p>
            We will respond to you within 30 days of receiving your complaint
            outlining: what we have or will do in response to your complaint, or
            explaining why we believe there is no breach of our policy or the
            law.
          </p>
          <h4 class="text-dark">
            <strong class="o-headline">ANNEXURE 1:</strong
            ><strong class="o-headline">
              APPLIES TO USERS OF AMS IN THE UNITED STATES OF AMERICA</strong
            >
          </h4>
          <p>
            In the course of performing our contractual obligations and our
            various corporate functions and activities,
            <strong>VirLetes</strong> collects some health information from
            athletes via the AMS. US legislation,
            <strong
              ><em
                >Health Insurance Portability and Accountability Act</em
              ></strong
            >
            (1996) (‘HIPPA’) introduces a number of rules that businesses must
            comply with in relation to the collection of protected health
            information. To the extent that <strong>VirLetes</strong> collects
            public health information (PHI) of athletes in the USA, it will be
            mindful of the following requirements of HIPPA (<strong
              >US Activities</strong
            >).
          </p>
          <p>
            In relation to the collection of PHI through our US Activities we
            will be mindful of the principles articulated in the body of this
            documents. We have processes in place to ensure HIPPA compliance
            including:
          </p>
          <p style="padding-left: 30px">
            (1) We have safeguards to protect the privacy of health information
            and set limits on the use and disclosure of this information.
          </p>
          <p style="padding-left: 30px">
            (2) We provide individuals with the ability to access information
            about their health and request corrections where appropriate.
          </p>
          <p style="padding-left: 30px">
            (3) We ensure that appropriate administrative, physical and
            technical safeguards to ensure the confidentiality, integrity, and
            security of electronic protected health information.
          </p>
          <p style="padding-left: 30px">
            (4) We have appropriate technical and non-technical safeguards to
            secure electronic PHI.
          </p>
          <p style="padding-left: 30px">
            (5) In the event of a breach of PHI, unless a risk assessment
            demonstrates that the there is a low probability that the health
            information has been compromised, we will notify the individual
            whose information is involved (as soon as possible and within 60
            days).
          </p>
          <p style="padding-left: 30px">
            (6)We have appointed a privacy officer and an incident response
            team.
          </p>
          <p style="padding-left: 30px">
            (7) Our employees are adequately trained about the use and
            disclosure of PHI and how to safeguard it appropriately.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
