

<app-user-experience-navbar-cmp></app-user-experience-navbar-cmp>
<main role="main" class="container-fluid" style="padding:0px;">
    <router-outlet></router-outlet>
</main>
<app-user-experience-footer-cmp></app-user-experience-footer-cmp>
<app-fixed-social-plugin-cmp></app-fixed-social-plugin-cmp>

<!--
<app-footer-cmp></app-footer-cmp>

<app-fixed-plugin></app-fixed-plugin>

<div class="wrapper">
  <app-userexperience-sidebar-cmp></app-userexperience-sidebar-cmp>
  <div class="main-panel">
    <app-userexperience-navbar-cmp></app-userexperience-navbar-cmp>
    <router-outlet></router-outlet>
    <app-userexperience-footer-cmp></app-userexperience-footer-cmp>
  </div>
</div>
<app-fixed-plugin></app-fixed-plugin>
-->
