

<!--HEADER-->
<section id="ipaas" name="ipaas" class="section header-section-image div-dark" style="background-image: url('assets/img/sections/heading-1.png')">
  <div class="filter filter-black"></div>
  <div class="container">
      <div class="row">
          <div class="ml-auto mr-auto" style="padding-top: 70px;">
              <h1 class="text-uppercase text-center page-header-1">
                  Your Championship Journey starts here.
              </h1>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12 ml-auto mr-auto">
              <div class="row">
                  <div class="col col-12-sm box-outter">
                      <div class="col-md-12 transparent-bg-header">
                          <h6 class="card-category text-success">Athletes</h6>
                          <h3 class="title text-white">Be discovered anywhere.</h3>
                          <div class="clearfix"></div>
                          <p class="description text-white text-start">
                              How many college coaches or professional scouts have discovered you today?
                              Find out how the VirLetes&trade; Platform can help prepare you the right way to reach your goals. View analysis to improve the way you train.
                              Easily stay in contact with hundreds of coaches.
                              Realize how fitness levels are improving leading up to tournaments/events. Get rewarded for hitting Peak Performances along the way.
                              Observe, Analyze, and Improve.<br>Don't just be an Athlete, be ELETE&trade;!
                          </p>
                          <div class="box-footer">
                              <a href="identity/account/susi?usertype=athlete&plan=starter" class="btn btn-success btn-lg text-uppercase btn-magnify">
                                  <i class="nc-icon nc-trophy"></i>&nbsp; Sign In / Up
                              </a>
                          </div>
                      </div>
                  </div>
                  <div class="col col-12-sm box-outter">
                      <div class="col-md-12 transparent-bg-header">
                          <h6 class="card-category text-primary">Parents/Guardians</h6>
                          <h3 class="title text-white">Expose your child.</h3>
                          <div class="clearfix"></div>
                          <p class="description text-white text-start">
                              How many college coaches or professional scouts have discovered your child athlete today.
                              The impact parents and guardians have, not only on their athletes, but on the team as a whole is HUGE.&nbsp;
                              A Parent's influence is much GREATER than most people think. Let your Athletes enjoy their time on the field,
                              while you chart the path to success. VirLetes&trade; is here to help guide every Athlete to become ELETE&trade;.
                              Let's transform your Athlete into an ELETE&trade; together.
                          </p>
                          <div class="box-footer">
                              <a href="identity/account/susi?usertype=guardian&plan=starter" class="btn btn-primary btn-lg text-uppercase btn-magnify">
                                  <i class="nc-icon nc-trophy"></i>&nbsp; Sign In / Up
                              </a>
                          </div>
                      </div>
                  </div>
                  <div class="col col-12-sm box-outter">
                      <div class="col-md-12 transparent-bg-header">
                          <h6 class="card-category text-danger">Coaches</h6>
                          <h3 class="title text-white">Expand your talent pool.</h3>
                          <div class="clearfix"></div>
                          <p class="description text-white text-start">
                              How many truly ELETE&trade; Athletes have you discovered for your program today.
                              Recruiting made easy. We help coaches save time and recruit more effectively.
                              Now there are no more excuses, it's time to surprise your ATHLETES, your competitors, and why not, the world.
                              VirLetes&trade; provides the perfect platform to help athletes reach their true potential and coaches to recruit to their true potential.
                              Don't just recruit Athletes, build an ELETE&trade; team!
                          </p>
                          <div class="box-footer">
                              <a href="identity/account/susi?usertype=coach&plan=starter" class="btn btn-danger btn-lg text-uppercase btn-magnify">
                                  <i class="nc-icon nc-chart-bar-32"></i>&nbsp; Sign In / Up
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>


