  <!--HEADER-->
  <header
    id="ipaas"
    name="ipaas"
    class="page-header header-section-image div-dark separator-bottom-card"
    style="background-image: url('assets/img/sections/heading-1.png')"
  >
    <div class="filter filter-black"></div>

    <div class="container">
      <div class="row">
        <div class="ml-auto mr-auto" style="padding-top: 20px;">
          <h1 class="text-uppercase text-left page-header-1 white-text" style="font-weight: 400;">
            Your Championship Journey starts here.
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 ml-auto mr-auto">
          <div class="row">
            <div class="col col-12-sm box-outter">
              <div class="col-md-12 transparent-bg-header">
                <h6 class="card-category text-success" style="font-size:xx-large;">Athletes</h6>
                <h3 class="title text-white">Be discovered.</h3>
                <div class="clearfix"></div>
                <p class="description text-white text-start">
                  How many college coaches or professional scouts have
                  discovered you today? Find out how the VirLetes&trade;
                  Platform can help prepare you the right way to reach your
                  goals. View analysis to improve the way you train. Easily stay
                  in contact with hundreds of coaches. Realize how fitness
                  levels are improving leading up to tournaments/events. Get
                  rewarded for hitting Peak Performances along the way. Observe,
                  Analyze, and Improve.<br />Don't just be an Athlete, be
                  ELETE&trade;!
                </p>
                <div class="box-footer">
                  <a
                    href="identity/account/susi?usertype=athlete&plan=starter"
                    class="btn btn-success btn-lg text-uppercase btn-magnify"
                  >
                    <i class="nc-icon nc-trophy"></i>&nbsp; Sign In / Up
                  </a>
                </div>
              </div>
            </div>
            <div class="col col-12-sm box-outter">
              <div class="col-md-12 transparent-bg-header">
                <h6 class="card-category text-warning" style="font-size:xx-large;">Parents/Guardians</h6>
                <h3 class="title text-white">Expose your child.</h3>
                <div class="clearfix"></div>
                <p class="description text-white text-start">
                  How many college coaches or professional scouts have
                  discovered your child athlete today. The impact parents and
                  guardians have, not only on their athletes, but on the team as
                  a whole is HUGE.&nbsp; A Parent's influence is much GREATER
                  than most people think. Let your Athletes enjoy their time on
                  the field, while you chart the path to success.
                  VirLetes&trade; is here to help guide every Athlete to become
                  ELETE&trade;. Let's transform your Athlete into an
                  ELETE&trade; together.
                </p>
                <div class="box-footer">
                  <a
                    href="identity/account/susi?usertype=guardian&plan=starter"
                    class="btn btn-primary btn-lg text-uppercase btn-magnify"
                  >
                    <i class="nc-icon nc-trophy"></i>&nbsp; Sign In / Up
                  </a>
                </div>
              </div>
            </div>
            <div class="col col-12-sm box-outter">
              <div class="col-md-12 transparent-bg-header">
                <h6 class="card-category text-danger" style="font-size:xx-large;">Coaches</h6>
                <h3 class="title text-white">Discover talent.</h3>
                <div class="clearfix"></div>
                <p class="description text-white text-start">
                  How many truly ELETE&trade; Athletes have you discovered for
                  your program today. Recruiting made easy. We help coaches save
                  time and recruit more effectively. Now there are no more
                  excuses, it's time to surprise your ATHLETES, your
                  competitors, and why not, the world. VirLetes&trade; provides
                  the perfect platform to help athletes reach their true
                  potential and coaches to recruit to their true potential.
                  Don't just recruit Athletes, build an ELETE&trade; team!
                </p>
                <div class="box-footer">
                  <a
                    href="identity/account/susi?usertype=coach&plan=starter"
                    class="btn btn-danger btn-lg text-uppercase btn-magnify"
                  >
                    <i class="nc-icon nc-chart-bar-32"></i>&nbsp; Sign In / Up
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

<!--WHAT WE DO SECTION-->
<section id="ipaas" name="ipaas" class="section separator-top-card">
  <div class="filter filter-black"></div>
  <div class="container">
    <div class="row">
      <div class="ml-auto mr-auto">
        <h1 class="page-header-1">
          Begin Your Championship Journey.  Trusted by MVPs.
        </h1>
      </div>
    </div>

    <div class="row">
      <div class="description col-md-12 ml-auto mr-auto text-justify">
        <p class="description-section text-start">
          Todays athletes, coaches and teams require the ability to harness the
          latest capabilities that are available with today's technology. Here
          at VirLetes&trade; we take pride and precedence on focusing on your
          needs as much as we do. VirLetes&trade;.com offers the opportunity for
          Athletes to use wearable technology provided by our partners and have
          that data sync with their online profiles being available to coaches
          and scouts for performance and/or recruiting purposes. VirLetes&trade;
          has a responsive group of expert service ambassadors capable of
          exceeding your technological expectations by delivering the right
          insights for today's athletes, coaches and teams.
        </p>
      </div>
    </div>

    <!---->

    <div class="row" style="margin-top: -50px; ">
      <div class="col-md-4">
        <div class="card card-profile card-plain">
          <div class="card-img-top">
            <a href="javascript:void(0)">
              <img class="img" src="assets/img/sections/preparation-is-key.png" />
            </a>
          </div>
          <div class="card-body text-left">
            <h2 class="section-title-md text-black text-left">
              Preparation
            </h2>
            <p class="description-section text-left" style="text-align: left;">
              Be prepared for your big day. Take steps to train smarter
              and achieve your goals. Preparation is a skill that can be learnt and which, with discipline and experience, improves over time.
            </p>

          </div>
          <div class="card-footer">
              <a
                href="javascript:void(0)"
                class="btn btn-neutral btn-link btn-just-icon"
                ><i class="fa fa-twitter"></i
              ></a>
              <a
                href="javascript:void(0)"
                class="btn btn-neutral btn-link btn-just-icon"
                ><i class="fa fa-facebook"></i
              ></a>
              <a
                href="javascript:void(0)"
                class="btn btn-neutral btn-link btn-just-icon"
                ><i class="fa fa-dribbble"></i
              ></a>
          </div>
        </div>
      </div>

      <div class="col-md-4 text-left">
        <div class="card card-profile card-plain">

          <div class="card-img-top">
            <a href="javascript:void(0)">
              <img class="img" src="assets/img/sections/Sport-Vision.png" />
            </a>
          </div>

          <div class="card-body">
            <h2 class="section-title-md text-left">
              Potential
            </h2>
            <p class="description-section text-left" style="text-align: left;">
              Doubt is the cancer that kills dreams and prevents individuals from pursuing and achieving their ambitious goals. 
              We provide tools to help athletes do what they do best and
              not focus on the process.
            </p>
          </div>
          <div class="card-footer">
              <a
                href="javascript:void(0)"
                class="btn btn-neutral btn-link btn-just-icon"
                ><i class="fa fa-twitter"></i
              ></a>
              <a
                href="javascript:void(0)"
                class="btn btn-neutral btn-link btn-just-icon"
                ><i class="fa fa-facebook"></i
              ></a>
              <a
                href="javascript:void(0)"
                class="btn btn-neutral btn-link btn-just-icon"
                ><i class="fa fa-dribbble"></i
              ></a>
          </div>

        </div>
      </div>


      <div class="col-md-4">
        <div class="card card-profile card-plain">

          <div class="card-img-top">
            <a href="javascript:void(0)">
              <img class="img" src="assets/img/sections/sports-Data-Analytics.jpg" />
            </a>
          </div>

          <div class="card-body">
            <h2 class="section-title-md text-black text-left">
              Analytics
            </h2>
            <p class="description-section text-left" style="text-align: left;">
              Detailed insights to aid decision making, and athlete
              identification and monitoring.  
              We improve efficiency by compiling and translating data into performance insights.
            </p>
          </div>

          <div class="card-footer">
            <a
              href="javascript:void(0)"
              class="btn btn-neutral btn-link btn-just-icon"
              ><i class="fa fa-twitter"></i
            ></a>
            <a
              href="javascript:void(0)"
              class="btn btn-neutral btn-link btn-just-icon"
              ><i class="fa fa-facebook"></i
            ></a>
            <a
              href="javascript:void(0)"
              class="btn btn-neutral btn-link btn-just-icon"
              ><i class="fa fa-dribbble"></i
            ></a>
          </div>

        </div>
      </div>
    </div>

<!--

    <div class="row" >
      <div class="col-md-12 ml-auto mr-auto" >
        <div class="row" style="margin-top: -100px; ">
          <div class="col-md-6 ml-auto mr-auto text-center separator-right-main" >
            <h2 class="section-title-md text-center">Athletes</h2>
            <div class="row">
              <div class="col-md-6">
                <div class="info">
                  <div class="icon icon-warning">
                    <img
                      src="assets/img/icons/icon-improve-tooling-and-automation.png"
                      height="50"
                    />
                  </div>

                  <div>
                    <h4 class="section-title-sm text-center">Preparation</h4>
                    <p class="description">
                      Be prepared for your big day. Take steps to train smarter
                      and achieve your goals.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info">
                  <div class="icon icon-info">
                    <img src="assets/img/icons/icon-mobility.png" height="50" />
                  </div>
                  <div>
                    <h4 class="section-title-sm text-center">
                      Potential
                    </h4>
                    <p class="description">
                      We provide tools to help athletes do what they do best and
                      not focus on the process.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <a
              href="identity/account/susi?usertype=athlete&plan=starter"
              class="btn btn-danger btn-magnify"
            >
              <i class="nc-icon nc-single-02"></i> Sign Up
            </a>
          </div>
          <div class="col-md-6 ml-auto mr-auto text-center">
            <h2 class="section-title-md text-center">Coaches</h2>
            <div class="row">
              <div class="col-md-6">
                <div class="info">
                  <div class="icon icon-danger">
                    <img
                      src="assets/img/icons/icon-vision-strategy.png"
                      height="50"
                    />
                  </div>
                  <div>
                    <h4 class="section-title-sm text-center">
                      Analytics
                    </h4>
                    <p>
                      Detailed insights to aid decision making, and athlete
                      identification and monitoring.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info">
                  <div class="icon icon-success">
                    <img
                      src="assets/img/icons/icon-ai-development.png"
                      height="50"
                    />
                  </div>
                  <div>
                    <h4 class="section-title-sm text-center">
                      ML & AI
                    </h4>
                    <p class="description">
                      We improve efficiency by compiling and translating data
                      into performance insights.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <a
              href="identity/account/susi?usertype=collegecoach&plan=starter"
              class="btn btn-danger btn-magnify"
              ><i class="nc-icon nc-single-02"></i> Sign Up</a
            >
          </div>
        </div>
      </div>
    </div>
-->
  </div>
</section>

<!--DO IT DIFFERENT SECTION-->
<section id="ipaas" name="ipaas" class="section section-dark separator-top-bottom-card">
  <div class="filter filter-black"></div>
  <div class="container">
    <div class="row">
      <div class="ml-auto mr-auto">
        <h1 class="page-header-1 white-text">
          What Makes VirLetes Different Makes It Better
        </h1>
      </div>
    </div>

    <div class="row">
      <div class="description col-md-12 ml-auto mr-auto text-justify">
        <p class="description-section text-start white-text">
          We skipped the unnecessary frills to build the most advanced sports profile platform on the market. 
          A minimalist, hands-free platform means you can get better 24/7. 
          Never have to worry about am I doing it right, or what do I need to do to get better. 
          VirLetes do it for you the way it should be done. 
          Change things up the VirLetes way and get lab-level accurate data that outperforms other recruiting site on the planet or in the clouds.
        </p>
      </div>
    </div>
  </div>
   <!---->
   <div class="container">
    <div class="row" style="padding-top: 30px">
      <div class="col-md-6 ml-auto mr-auto text-center separator-right-bottom-main" >
        <div class="info">
          <div class="icon icon-success">
            <img src="assets/img/icons/potential.png" height="50" />
          </div>
          <div>
            <h4 class="info-title-sm text-uppercase text-center">Athletes</h4>
            <p class="description text-white text-start" style="padding-bottom: 20px">
              Know when to keep pushing and when to back off. We Analyze all
              training programmes and monitor work load to avoid preventable
              injuries.
            </p>
            <a
              class="nav-link"
              [routerLink]="['/virtual-athlete-profiles/athletes']"
              class="btn btn-info btn-round btn-lg btn-magnify text-uppercase"
            >
              <i class="nc-icon nc-trophy"></i> Athletes Learn More
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 ml-auto mr-auto text-center separator-bottom-main" >
        <div class="info">
          <div class="icon icon-success">
            <img src="assets/img/icons/potential.png" height="50" />
          </div>
          <div>
            <h4 class="info-title-sm text-uppercase text-center">Guardians</h4>
            <p class="description text-white text-start" style="padding-bottom: 20px">
              In sports, parents and guardians impact their children in many
              ways. They play an influential role in their athlete development
              and accomplishments.
            </p>
            <a
              class="nav-link"
              [routerLink]="['/virtual-athlete-profiles/athletes']"
              class="btn btn-info btn-round btn-lg btn-magnify text-uppercase"
            >
              <i class="nc-icon nc-trophy"></i> Guardians Learn More
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 ml-auto mr-auto text-center separator-right-main" >
        <div class="info">
          <div class="icon icon-success">
            <img src="assets/img/icons/icon-team.png" height="50" />
          </div>
          <div>
            <h4 class="info-title-sm text-uppercase text-center">
              College Coaches
            </h4>
            <p class="description text-white text-start" style="padding-bottom: 20px">
              Save and monitor athlete profiles that automatically update to the
              coach's individual zones. Save them to the prospect library, or
              add them to the recruiting calendar.
            </p>
            <a
              class="nav-link"
              [routerLink]="['/virtual-athlete-profiles/coaches']"
              class="btn btn-info btn-round btn-lg btn-magnify text-uppercase"
            >
              <i class="nc-icon nc-chart-bar-32"></i> Coaches Learn More
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 ml-auto mr-auto text-center" >
        <div class="info">
          <div class="icon icon-success">
            <img src="assets/img/icons/icon-team.png" height="50" />
          </div>
          <div>
            <h4 class="info-title-sm text-uppercase text-center">
              Team Coaches
            </h4>
            <p class="description text-white text-start" style="padding-bottom: 20px">
              See all of your athletes and their data in one place: making
              planning, tracking and communicating easier than ever. Contact as
              many coaches from various college programs.
            </p>
            <a
              class="nav-link"
              [routerLink]="['/virtual-athlete-profiles/coaches']"
              class="btn btn-info btn-round btn-lg btn-magnify text-uppercase"
            >
              <i class="nc-icon nc-sun-fog-29"></i> Coaches Learn More
            </a>
          </div>
        </div>
      </div>
    </div>

   <!---->
  </div>
</section>


<!--PRICING PLAN -->
<app-pricing-cmp
  [showAllPricing]="showAllPricing"
  [showAthletePricing]="showAthletePricing"
  [showCoachPricing]="showCoachPricing"
></app-pricing-cmp>

<!--MEET OUR TEAM-->
<section
  class="team-2 section-image separator-top-card"
  style="background-image: url('assets/img/sections/section-contact.png')"
>
  <div class="container">
    <div class="row">
      <div class="col-md-12 ml-auto mr-auto">
        <h2 class="page-header-1 text-white">
          Meet our team
        </h2>
        <h3 class="title-uppercase text-uppercase description">
          We <i class="fa fa-heart heart"></i>&nbsp; what we do.
        </h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 ml-auto mr-auto">
        <p class="description-section text-light">
          We know what it’s like to dream about competing in sports. The
          VirLetes&trade; ambassadors comprise of former college and pro
          athletes, and coaches who have been through the recruiting process
          thousands of times, both personally and professionally. We have
          insider tips, connections and a vast network of coaches at our
          fingertips. We’re excited to share this knowledge with up-and-coming
          athletes who have a passion for competing in sports. VirLetes&trade;
          ambassadors and members are the difference that makes VirLetes&trade;
          a truly unique platform.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="card card-profile card-plain">
          <div class="card-img-top">
            <a href="javascript:void(0)">
              <img class="img" src="assets/img/faces/kaci-baum-1.jpg" />
            </a>
          </div>
          <div class="card-body">
            <h4 class="card-title">Shameika Brathwaite</h4>
            <h6 class="card-category">EXECUTIVE DIRECTOR</h6>
            <div class="card-footer">
              <a
                href="javascript:void(0)"
                class="btn btn-neutral btn-link btn-just-icon"
                ><i class="fa fa-twitter"></i
              ></a>
              <a
                href="javascript:void(0)"
                class="btn btn-neutral btn-link btn-just-icon"
                ><i class="fa fa-facebook"></i
              ></a>
              <a
                href="javascript:void(0)"
                class="btn btn-neutral btn-link btn-just-icon"
                ><i class="fa fa-dribbble"></i
              ></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card card-profile card-plain">
          <div class="card-img-top">
            <a href="javascript:void(0)">
              <img class="img" src="assets/img/faces/joe-gardner-1.jpg" />
            </a>
          </div>
          <div class="card-body">
            <h4 class="card-title">Nikisha Williams</h4>
            <h6 class="card-category">DIRECTOR BUSINESS DEVELOPMENT</h6>

            <div class="card-footer">
              <a
                href="javascript:void(0)"
                class="btn btn-neutral btn-link btn-just-icon"
                ><i class="fa fa-linkedin"></i
              ></a>
              <a
                href="javascript:void(0)"
                class="btn btn-neutral btn-link btn-just-icon"
                ><i class="fa fa-facebook"></i
              ></a>
              <a
                href="javascript:void(0)"
                class="btn btn-neutral btn-link btn-just-icon"
                ><i class="fa fa-dribbble"></i
              ></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card card-profile card-plain">
          <div class="card-img-top">
            <a href="javascript:void(0)">
              <img class="img" src="assets/img/faces/clem-onojeghuo-1.jpg" />
            </a>
          </div>
          <div class="card-body">
            <h4 class="card-title">Terry Adamson</h4>
            <h6 class="card-category">DIRECTOR PROFESSIONAL DEVELOPMENT</h6>

            <div class="card-footer">
              <a
                href="javascript:void(0)"
                class="btn btn-neutral btn-link btn-just-icon"
                ><i class="fa fa-dribbble"></i
              ></a>
              <a
                href="javascript:void(0)"
                class="btn btn-neutral btn-link btn-just-icon"
                ><i class="fa fa-twitter"></i
              ></a>
              <a
                href="javascript:void(0)"
                class="btn btn-neutral btn-link btn-just-icon"
                ><i class="fa fa-linkedin"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--TESTIMONIALS-->
<section
  id="testimonials"
  name="testimonials"
  class="testimonials-3 white-background separator-top-bottom-card"
>
  <div class="filter filter-black"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 ml-auto mr-auto">
        <h2 class="section-title">
          Trusted by 200,000+ Members
        </h2>
        <h3 class="text-uppercase description-section">Our Clients Love Us</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 ml-auto mr-auto">
        <p class="description-section" style="padding: 15px; padding-left: 0px;">
          The VirLetes&trade; Platform Tools which we created to harness the
          latest capabilities in sports performance and development are used by
          200,000+ athletes and coaches in over 50+ countries. Check what other
          VirLeters are saying about our platform. They are very happy with
          their subscription.
        </p>
      </div>
    </div>
    <div class="row">
      <br />
    </div>
    <div class="row">
      <div class="col-md-3 ml-auto">
        <div class="card" data-background="color" data-color="orange">
          <div class="card-body">
            <div class="author">
              <a href="javascript:void(0)">
                <img
                  src="./assets/img/faces/joe-gardner-2.jpg"
                  alt="..."
                  class="avatar img-raised"
                />
                <span style="padding: 20px">Coach Johnson</span>
              </a>
            </div>
            <span class="category-social pull-right">
              <i class="fa fa-quote-right"></i>
            </span>
            <div class="clearfix"></div>
            <p class="card-description">
              “The ability to have all our data, information and planning tools
              in one platform will mean we can better understand and manage
              student athlete health and wellness insights.”
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card" data-background="color" data-color="green">
          <div class="card-body">
            <div class="author">
              <a href="javascript:void(0)">
                <img
                  src="./assets/img/faces/erik-lucatero-2.jpg"
                  alt="..."
                  class="avatar img-raised"
                />
                <span style="padding: 20px">Gabriel Burnett</span>
              </a>
            </div>
            <span class="category-social pull-right">
              <i class="fa fa-quote-right"></i>
            </span>
            <div class="clearfix"></div>
            <p class="card-description">
              "VirLetes helps us to establish the desired intensity during
              sessions so we can replicate match demands. The data we collect
              tells us the proportional impact on the players from each of the
              selected parameters across training and games."
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 mr-auto">
        <div class="card" data-background="color" data-color="yellow">
          <div class="card-body">
            <div class="author">
              <a href="javascript:void(0)">
                <img
                  src="./assets/img/faces/kaci-baum-2.jpg"
                  alt="..."
                  class="avatar img-raised"
                />
                <span style="padding: 20px">Rhea Hoyte</span>
              </a>
            </div>
            <span class="category-social pull-right">
              <i class="fa fa-quote-right"></i>
            </span>
            <div class="clearfix"></div>
            <p class="card-description">
              "VirLetes’ platform is the most efficient and the best in terms of
              quality, reliability and precision."
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 ml-auto">
        <div class="card" data-background="color" data-color="blue">
          <div class="card-body">
            <div class="author">
              <a href="javascript:void(0)">
                <img
                  src="./assets/img/faces/clem-onojeghuo-2.jpg"
                  alt="..."
                  class="avatar img-raised"
                />
                <span style="padding: 20px">Nazario Adamson</span>
              </a>
            </div>
            <span class="category-social pull-right">
              <i class="fa fa-quote-right"></i>
            </span>
            <div class="clearfix"></div>
            <p class="card-description">
              "We cannot account for the physical environment during a match and
              this is where data analysis from VirLetes enables us to make the
              decisions that follow days after in training."
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-7 mr-auto">
        <div class="card" data-background="color" data-color="purple">
          <div class="card-body">
            <div class="author">
              <a href="javascript:void(0)">
                <img
                  src="./assets/img/faces/ayo-ogunseinde-2.jpg"
                  alt="..."
                  class="avatar img-raised"
                />
                <span style="padding: 20px">Robert Jones</span>
              </a>
            </div>
            <span class="category-social pull-right">
              <i class="fa fa-quote-right"></i>
            </span>
            <div class="clearfix"></div>
            <p class="card-description">
              "VirLetes means we have more objective evidence about the
              condition of the players. We have reliable data and we utilize
              this data to find the recruits for our program."
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
