
  <!--HEADER-->
  <header
    id="ipaas"
    name="ipaas"
    class="page-header header-section-image div-dark separator-bottom-card"
    style="background-image: url('assets/img/sections/heading-2.png')"
  >
    <div class="filter filter-black"></div>

    <div class="container">
      <div class="row">
        <div class="ml-auto mr-auto" style="padding-top: 150px;">
          <h1 class="text-uppercase text-left page-header-1 white-text" style="font-weight: 400;">
            Global Sports <br />Technology Agency
          </h1>
        </div>
      </div>

      <div class="row">
        <div class="ml-auto mr-auto" style="padding-top: 0px;">
          <div class="separator-top-header-neutral">
            <p class="description-header text-white">
              VirLetes&trade; is a Sports Technology Innovation and Digital
              Transformation Agency built to Lead Digital Change while driving
              athletes, coaches and teams forward and delivering real results.
              We emmpower you to compete successfully by faciliting your
              strategic and performance capabilities.
            </p>
          </div>
          <div class="buttons text-left" style="z-index: 9999; top: 3em">
            <a
              href="virtual-athlete-profiles/consultation"
              class="btn btn-success btn-wd btn-magnify"
            >
              &nbsp; Get A Free Consultation &nbsp; </a
            >&nbsp;&nbsp;
            <a
              href="virtual-athlete-profiles/sports-technology-services"
              class="btn btn-info btn-wd btn-magnify"
            >
              &nbsp;View Our Capabilities & Services &nbsp;
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>


<!--ABOUT US-->
<section class="section separator-top-card">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ml-auto mr-auto">
        <h1 class="section-title">
          We are...
        </h1>

      </div>
    </div>

    <div class="row">
      <div class="col-md-12 ml-auto mr-auto">
        <h3 class="section-title-md">Inspired by Our Values</h3>
        <h5 class="text-left description-section">
          With true vision and leadership comes the collective power to succeed.
          Our mission is to inspire and motivate our members to achieve their
          highest potential with sports technology, while balancing practical
          Preparation processes with real sports demands to go big and cross the
          finish line on their recruiting journey. We offer a free consultation
          and strategy session, so we can construct a plan, and tailor a
          strategy to suit your needs.
        </h5>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-6 text-center">
        <div class="info text-center">
          <div class="icon icon-info icon-xs">
            <i class="nc-icon nc-lock-circle-open"></i>
          </div>
          <div class="description text-center">
            <h4 class="info-title">Integrity</h4>
            <p class="description-section">
              We are straightforward and principled.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-6">
        <div class="info text-center">
          <div class="icon icon-danger icon-xs">
            <i class="nc-icon nc-bulb-63"></i>
          </div>
          <div class="description text-center">
            <h4 class="info-title">Innovation</h4>

            <p class="description">Not always new but always innovative.</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-6">
        <div class="info">
          <div class="icon icon-success icon-xs">
            <i class="nc-icon nc-bank"></i>
          </div>
          <div class="description text-center">
            <h4 class="info-title">Members</h4>
            <p class="description-section">
              Our success depends on members' success.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-6">
        <div class="info">
          <div class="icon icon-warning icon-xs">
            <i class="nc-icon nc-user-run"></i>
          </div>
          <div class="description text-center">
            <h4 class="info-title">Employees</h4>
            <p class="description-section">
              Continuously develop our employees,
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section div-info separator-top-card">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ml-auto mr-auto">
        <h1 class="section-title text-white">
          We are...
        </h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 ml-auto mr-auto" style="padding-bottom: 20px">
        <h3 class="section-title-md text-white">Global in Our Delivery</h3>
        <h5 class="description text-white">
          We are the partner you have been looking for. With the delivery of
          over <b>100,000</b> solutions, VirLetes&trade; delivers high
          Performant Digital Solutions with certified, experienced project teams
          and an agile approach to global delivery. You will achieve
          unprecedented results for systems and software development, testing,
          and ongoing support with our nearshore, and domestic delivery teams.
        </h5>

        <a
          href="#/consultation"
          class="btn btn-success btn-magnify"
          style="margin-top: 25px"
        >
          &nbsp; Let's Get You to Transformed Today &nbsp;
        </a>
      </div>
    </div>
  </div>
</section>

<!--MEET OUR TEAM-->
<section
  class="team-2 section-image div-dark separator-top-card"
  style="background-image: url('assets/img/sections/section-contact-2.png')"
>
  <div class="filter filter-black"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 ml-auto mr-auto text-center">
        <h2 class="section-title text-white">Meet our team</h2>
        <h3 class="section-title-md text-white  ">
          We <i class="fa fa-heart heart"></i>&nbsp; what we do.
        </h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 ml-auto mr-auto text-justify">
        <p class="description-section text-white">
          We know what it’s like to dream about competing in sports. The
          VirLetes staff comprises of former college and pro athletes, and
          coaches who have been through the recruiting process thousands of
          times, both personally and professionally. We have insider tips,
          connections and a vast network of coaches at our fingertips. And we’re
          excited to share this knowledge with up-and-coming athletes who have a
          passion for competing in sports. VirLetes staff members are the
          difference that makes VirLetes a truly unique platform.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="card card-profile card-plain">
          <div class="card-img-top">
            <a href="javascript:void(0)">
              <img class="img" src="assets/img/faces/kaci-baum-1.jpg" />
            </a>
          </div>
          <div class="card-body">
            <h4 class="card-title">Shameika Brathwaite</h4>
            <h6 class="card-category">EXECUTIVE DIRECTOR</h6>
            <div class="card-footer">
              <a
                href="javascript:void(0)"
                class="btn btn-neutral btn-link btn-just-icon"
                ><i class="fa fa-twitter"></i
              ></a>
              <a
                href="javascript:void(0)"
                class="btn btn-neutral btn-link btn-just-icon"
                ><i class="fa fa-facebook"></i
              ></a>
              <a
                href="javascript:void(0)"
                class="btn btn-neutral btn-link btn-just-icon"
                ><i class="fa fa-dribbble"></i
              ></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card card-profile card-plain">
          <div class="card-img-top">
            <a href="javascript:void(0)">
              <img class="img" src="assets/img/faces/joe-gardner-1.jpg" />
            </a>
          </div>
          <div class="card-body">
            <h4 class="card-title">Nikisha Williams</h4>
            <h6 class="card-category">DIRECTOR BUSINESS DEVELOPMENT</h6>

            <div class="card-footer">
              <a
                href="javascript:void(0)"
                class="btn btn-neutral btn-link btn-just-icon"
                ><i class="fa fa-linkedin"></i
              ></a>
              <a
                href="javascript:void(0)"
                class="btn btn-neutral btn-link btn-just-icon"
                ><i class="fa fa-facebook"></i
              ></a>
              <a
                href="javascript:void(0)"
                class="btn btn-neutral btn-link btn-just-icon"
                ><i class="fa fa-dribbble"></i
              ></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card card-profile card-plain">
          <div class="card-img-top">
            <a href="javascript:void(0)">
              <img class="img" src="assets/img/faces/clem-onojeghuo-1.jpg" />
            </a>
          </div>
          <div class="card-body">
            <h4 class="card-title">Terry Adamson</h4>
            <h6 class="card-category">DIRECTOR PROFESSIONAL DEVELOPMENT</h6>

            <div class="card-footer">
              <a
                href="javascript:void(0)"
                class="btn btn-neutral btn-link btn-just-icon"
                ><i class="fa fa-dribbble"></i
              ></a>
              <a
                href="javascript:void(0)"
                class="btn btn-neutral btn-link btn-just-icon"
                ><i class="fa fa-twitter"></i
              ></a>
              <a
                href="javascript:void(0)"
                class="btn btn-neutral btn-link btn-just-icon"
                ><i class="fa fa-linkedin"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section div-color-neutral separator-top-card">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ml-auto mr-auto">
        <h1 class="section-title text-white">
          We are...
        </h1>
      </div>
    </div>

    <div class="row" style="padding: 30px; padding-left: 0px; padding-right:0px; padding-top: 0px;">
      <div class="col-md-12 ml-auto mr-auto">
        <h3 class="section-title-md text-white">A Different Kind of Firm.</h3>
      </div>
    </div>

    <div class="row" style="padding: 60px; padding-left: 0px; padding-right:0px; padding-top: 0px;">
      <div class="col-md-6 col-sm-6 text-left" >
        <div class="description" style="margin-left: -10px;">
          <br>
          <img
            src="assets/img/sections/Sport-Vision.png"
            width="535"
            height="220"
          />
          <br>
          <br>
          <h4 class="section-title-md  text-main">Our Vision</h4>
          <br/>
          <p class="text-white text-left" style="text-align: left;">
            We provide sports technology to athletes and sports leaders with critical and
            thought-provoking insight that enables them to provide positive
            change which drives improved performance.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 text-left" >
        <div class="description" style="margin-left: -10px;">
          <br>
          <img
          src="assets/img/sections/our-purpose.png"
          width="535"
          height="220"
        />
          <br>
          <br>
          <h4 class="section-title-md  text-main">Our Purpose</h4>
          <br/>
          <p class="text-white text-left" style="text-align: left;">
            Our sports technology experts are here to help you achieve exceptional sports
            performance through the lens of culture, leadership, and people
            strategy.
          </p>
        </div>
      </div>
    </div>

    <div class="row" style="margin-top: 20px">
      <div class="col-md-3 col-6 separator-right-main">
        <div class="info text-center">
          <div class="icon icon-info icon-xs">
            <img src="assets/img/icons/icon-trust.png" height="50" />
          </div>
          <div>
            <h4 class="section-title-sm text-uppercase text-white">Trust</h4>
            <p class="description-section text-start text-white">
              VirLetes&trade; wins members' trust by reliably delivering
              consistent results with high quality teams and optimizing
              performance.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-6 separator-right-main">
        <div class="info text-center">
          <div class="icon icon-danger icon-xs">
            <img src="assets/img/icons/icon-team.png" height="50" />
          </div>
          <div>
            <h4 class="section-title-sm text-uppercase text-white">Talent</h4>
            <p class="description-section text-start text-white">
              VirLetes&trade; constantly grows it's talent pool in order to
              skillfully assemble A1 teams to help our members to successfully
              execute their strategy.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-6 separator-right-main">
        <div class="info">
          <div class="icon icon-success icon-xs">
            <img src="assets/img/icons/icon-communication.png" height="50" />
          </div>
          <div>
            <h4 class="section-title-sm text-uppercase text-white">Communication</h4>
            <p class="description-section text-start text-white">
              The VirLetes&trade; team is committed to providing exceptional
              communications at all levels throughout the engagement.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-6">
        <div class="info">
          <div class="icon icon-warning icon-xs">
            <img src="assets/img/icons/icon-best-practices.png" height="50" />
          </div>

          <div>
            <h4 class="section-title-sm text-uppercase text-center text-white">
              Best Practices
            </h4>
            <p class="description-section text-start text-white">
              VirLetes&trade; draws upon a history of providing IT services and
              talent resourcing using our ever growing set of best practices and
              tools.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="section separator-top-bottom-card"
>
  <div class="container">
    <div class="row">
      <div
        class="col-md-10 ml-auto mr-auto text-center"
        style="padding-bottom: 20px"
      >
        <h2 class="section-title">Want to join Our Team?</h2>
        <p class="description text-left" style="text-align: left;">
          We are always looking for talented people dedicated to excellence to
          join our team. Our values are accountability, respect, excellence,
          integrity, economic responsibility and a customer-first focus.
        </p>

        <a
          href="virtual-athlete-profiles/contact"
          class="btn btn-primary btn-wd btn-magnify"
          style="margin-top: 25px"
        >
          &nbsp; Call or Send Us a Quick Note &nbsp;
        </a>
      </div>
    </div>
  </div>
</section>
