<!--HEADER-->
<header
  class="page-header page-header-image page-header-xs"
  style="background-image: url('assets/img/sections/heading-data-deletion.png')"
>
  <div class="filter filter-black"></div>
  <div class="content-center">
    <div class="container">
      <div class="row">
        <div
          class="col-md-12 ml-auto mr-auto content-left transparent-bg-header"
        >
          <h1 class="page-header-1">
            Data Deletion Policy
          </h1>
          <div class="separator-top-header-neutral">
            <p class="description-header text-white">
              Data is at the heart of our business, and understanding what data
              we collect, where it lives, and who has access, and how we dispose
              of it is a critical part of privacy law compliance.
              VirLetes&trade;'s members and users store securley, easily and
              automatically. All data is classifies and evaluated across our
              system.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="ml-auto mr-auto">
        <h2 class="section-title text-left text-uppercase">
          VirLetes APP ACCOUNT RETENTION POLICY AND TERMS OF USE
        </h2>
      </div>
    </div>

    <div class="row">
      <div class="mx-auto w-full max-w-content pb-50">
        <div class="text">
          <br />
          <br />
          <h4 class="text-dark" style="margin-top: 20px">
            <strong class="o-headline"> 1.0 Purpose </strong>
          </h4>
          <p>
            The purpose of this policy is to define the length of time that
            VirLetes Sport Profile login accounts and associated services will
            be maintained after the account holder leaves the platform. It
            subsequently serves to maintain the security, operational cost, and
            efficiency of the VirLetes Sport Profile network.
          </p>

          <h4 class="text-dark" style="margin-top: 20px">
            <strong class="o-headline"> 2.0 Scope </strong>
          </h4>
          <p>
            This policy applies to all staff, and members who have login
            accounts on the VirLetes Sport Profile network.
          </p>

          <h4 class="text-dark" style="margin-top: 20px">
            <strong class="o-headline"> 3.0 Policy </strong>
          </h4>
          <p>
            VirLetes Sport Profile network login accounts and associated
            services (email, file storage, etc…) will be maintained for 30 days
            after the account holder leaves the network. After which, the login
            account, associated email and personal network storage space will be
            deleted.
          </p>

          <h4 class="text-dark" style="margin-top: 20px">
            <strong class="o-headline">
              3.1 Ownership and Responsibilities
            </strong>
          </h4>
          <p>
            <i>3.1.1 Deletion Request</i><br />
            It is the member’s responsibility to submit an account deletion
            request at least 5 business days before the account holder’s last
            day of membership.
            <br /><br />
            <i>3.1.2 Account Holder</i><br />
            It is the member’s responsibility to ensure that they have copies of
            any desired data (email, contacts, etc…) before their last day of
            membership.
            <br /><br />
            <i>3.1.3 Network Resource Center</i><br />
            It is the Network Resource Center’s (NRC) responsibility to delete
            the account holder’s login account and data after the 30 days has
            expired.
          </p>

          <h4 class="text-dark" style="margin-top: 20px">
            <strong class="o-headline"> 3.2 Monitoring </strong>
          </h4>
          <p>
            The NRC periodically runs robotic scans to identify accounts that
            may no longer be in use. Members will be notified if such accounts
            are found in their name/email.
          </p>

          <h4 class="text-dark" style="margin-top: 20px">
            <strong class="o-headline"> 4.0 Enforcement </strong>
          </h4>
          <p>
            The VirLetes administrator or their delegate will be notified of
            violations of this policy, at which point they may attempt to work
            with the member directly. If these attempts are not successful,
            violation information may be passed along to the CTO of the VirLetes
            Sport Profile network for resolution.
          </p>

          <h4 class="text-dark" style="margin-top: 20px">
            <strong class="o-headline"> 5.0 Defitnitions </strong>
          </h4>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Term</th>
                <th scope="col">Definition</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Login account</td>
                <td>
                  A username and password given to the VirLetes Network member
                  or staff that is used specifically for VirLetes Platform
                  resources.
                </td>
              </tr>
              <tr>
                <td>Account holder</td>
                <td>
                  Any staff, or memeber of the VirLetes Network login account.
                </td>
              </tr>
              <tr>
                <td>Email Account</td>
                <td>
                  A User's email address associated with login account,
                  typically login_account@domain.com.
                </td>
              </tr>
              <tr>
                <td>File Storage</td>
                <td>
                  A place where user data is stored. Typically data on the login
                  account’s cloud: drive.
                </td>
              </tr>
              <tr>
                <td>CTO</td>
                <td>
                  Chief Technology Officer, manager for all VirLetes Network IT
                  resources, who is the interface between VirLetes Network staff
                  and IT resources.
                </td>
              </tr>
              <tr>
                <td>Supervisor</td>
                <td>
                  The individual responsible for supervision of the account
                  holder.
                </td>
              </tr>
              <tr>
                <td>System Administrator</td>
                <td>
                  The title associated with the person responsible for core
                  Business College IT resources, such as email, file server, and
                  network access.
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
